@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body {

display: flex;


}

.sidebar:hover {
    width: 240px;
    transition: 0.4s;
}

.sidebar{
position: sticky;
top: 0;
left: 0;
bottom: 0;
width: 110px;
height: 100vh;
padding: 0 1.7rem;
color: #fff;
overflow: hidden;
transition: all 0.5s linear;
background: rgba(113, 99, 186, 255);
}

.logo
{
    height: 80px;
    padding: 16px;
}

.menu {

    height: 88%;
    position: relative;
    list-style: none;
}
.menu li {
    padding: 1rem;
    margin: 8px 0;
border-radius: 8px;
transition: all 0.5s ease-in-out;


}
.menu li:hover , .active{

    background: #e0e0e058;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span {
    overflow: hidden;
}
.menu a i {
    font-size: 1.2rem;

}


.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.main--content{
 
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;

}
.header--wraper {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
border-radius: 10PX;
padding: 10px 2rem;
margin-bottom: 1rem;
background: #fff;

}
.header--wraper img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;


}
.header--title {

color: rgb(113, 99 , 186 ,255);



}

.user--inertface {
    display: flex;
    align-items: center;
gap: 1rem;
}

.search--interface {
background: rgb(237, 237,237);
color: rgb(113, 99 , 186 ,255);
display: flex;
align-items: center;
gap: 5px;
border-radius: 15px;
padding: 4px 12px;
}
.search--interface input {
    background: transparent;
    padding: 10px;
    color: red;
}
.search--interface i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.search--interface i:hover {
    transform: scale(2.2);

}

.card--container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.card-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main--title{
    color: rgb(113, 99 , 186 ,255);
    padding-bottom: 10px;
    font-size: 15px;
}
.payments--card {
     background: rgb(251, 233,233);
 border-radius: 10px;
 padding: 1.2rem;
 width: 290px;
 height: 150px;
 flex-direction: column;
justify-content: space-between;
transition: all 0.5s ease-in-out;
}
 
.payments--card:hover{
    transform: translateY(-5px);
}

.card-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;

}
.amount{

    display: flex;
    flex-direction: column;

}
.title {
    font-size: 12px;
    font-weight: 200;
}

.amountvalue{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
font-weight: 600;
}
.icon{
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: red;
}


.card--deatils {

font-size: 18px;
color: #777777;

letter-spacing: 2px;
font-family: 'Courier New', Courier, monospace;


}
.lightred {
    background: rgba(255, 0, 0, 0.5);
  }
  
  .lightpurple {
    background: rgba(254,  226, 254);
  }
  
  .lightgreen {
    background: rgba(0, 255, 0, 0.5);
  }
  
  .lightblue {
    background: rgb(236, 236, 254);
  }
  
  .darkred {
    background: rgba(255, 0, 0, 0.8);
  }
  
  .darkpurple {
    background: rgba(255, 0, 255, 0.8);
  }
  
  .darkgreen {
    background: rgba(0, 255, 0, 0.8);
  }
  .blue {
   background: blue; 
  }

.tabular-wraper {
    background: #fff;
margin-top: 1rem;
border-radius: 10px;
padding: 2rem;
}


.table-caontainer{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background: rgba(113, 99, 186, 255);
color: #fff;

}
th{
    padding: 15px;
    text-align: left;
}
tbody{
    background: #f2f2f2;
}
td {
    padding: 15px;
    font-size: 14px;
}
tr:nth-child(even){
    background: #fff;
}

tfoot {
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}

tfoot td {
    padding: 15px;
   color:  #fff;
}
.table-caontainer button {
    color: green;
    background: none;
cursor: pointer;
}
































































































































